/* General Styles */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

/* Header Styles */

h1 {
    font-size: 3rem;
}

/* Button Styles */

.button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

.button:hover,
.button:focus {
    background-color: #333;
}

/* Form Styles */

#form {
    margin-top: 2rem;
}

/* Container Styles */

.transbox {
    padding: 2%;
    border-radius: 25px;
    border: 2px solid #000;
    background-color: rgba(200, 205, 226, 0.9);
    margin: 0 auto;
    max-width: 80%;
}

/* Slider Styles */

.slidecontainer {
    margin-top: 2rem;
}

.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

/* Info Styles */

.info {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 1rem;
}

.info h2 {
    margin: 0 0 0.5rem;
    color: #777;
}
